body {
  color: rgb(5, 5, 5);
  background-color: rgb(123, 189, 247);

}
.navB{
  color: rgb(255, 255, 255);
  background-color: rgba(3, 44, 80, 0.034);

}
.footer{
  color: rgb(255, 255, 255);
  background-color: rgba(3, 44, 80, 0.493);

}

.colorCarro{
  color: rgb(255, 255, 255);
  background-color: rgba(3, 44, 80, 0.493);

}